.content {
            background-color: rgb(231, 231, 231);
            text-align: center;

}
.skills-table{
    width: 100%;

}

body {
      background-color: #f5f5f5;    /* Light background for contrast */
               /* Center vertically */
      height: 100vh;
      padding: 0;                /* Full viewport height */
      margin-left: 450;
      margin-right: 450;                    /* Remove default margin */
      font-family: Arial, sans-serif;
    }

.res{
    background-color: rgb(250, 252, 252);
    padding: 25;
}