*{
    font-family: 'Segoe UI light';
}
body{
    background: linear-gradient(#5C6BC0,#ff5858) ;
}

#login-container{
    background-color: rgba(255, 255, 255, 0.171);
    width: 550px;
    height: 400px;
    text-align: center;
    margin: 130px auto;
    padding-top: 20px;
    border-radius: 5%;
}
.input-container{
    margin-top: 40px;
}

.input-field{
    width: 70%;
    height: 30px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    background: transparent;
    border: none;
}

#login-button{
    width: 30%;
    height: 40px;
    background:#fd733c ;
    color: white;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    font-weight: 800;
    transition: background 400ms;
}

#login-button:hover{
    background-color: white;
    cursor: pointer;
    color: #fd733c;
    border-width: 1px;
    border-style: solid;
    border-color: #fd733c;
}

#sign-up-link{
    text-decoration: none;
}